.headerBar {
    background: lightgrey;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 3px 10px 3px 10px;
 }
.headerBar > *:not(:first-child) {
        margin-left: 8px;
    }

.headerButtonContainer {
    padding-right: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerButton {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    text-align: center;
}

#closeButton {
    background: #EC6A5D;
    color: #EC6A5D;
    border : 0.5px solid #CE5347;
    box-shadow  :inset 0px 0px 6px #EC6D62;
}
#closeButton:hover {
    color: #c93325;
}

#minifyButton {
    background: #F5BF4E;
    color: #F5BF4E;
    margin-left: 12px;
    border:0.5px solid #D6A243;
    box-shadow:inset 0px 0px 6px #F5C451;
}

#minifyButton:hover {
    color: #c28e1e;
}

#fullscreenButton {
    background: #62C654;
    color: #62C654;
    margin-left: 10px;
    border: 0.5px solid #58A942;
    box-shadow: inset 0px 0px 6px #68CC58;
}

#fullscreenButton:hover {
    color: #329925;
}

.appTitle {
    font-size: 20px;
    color: rgb(75, 73, 73);
    margin-top: 0;
    margin: 10px;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

}